body {
	margin: 0 auto;
	font-family: "Aeroport", Arial, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
	--base-color: #222222;
	--base-light-color: #CCCCCC;
	--success-color: #00BB66;
	--error-color: #FF5566;
	--account-color: #0D93F3;
	--process-color: #FCE1CF;
	--input-color: #F3F3F3;
	--soft-pink-color: #FEF9F5;
	--pink-color: #FFEEF0;
	--soft-green-color: #E6F8F0;
	--soft-blue-color: #F0EEFE;
	--subtitle-color: #888888;
	--layout-color: rgba(243, 243, 243, 0.95);
	--secondary-color: #3A3A3A;
	--line-height-150: 150%;
	--line-height-133: 133%;
	--mar-right-12: 12px;
	--fs-18: 18px;
	--fs-16: 16px;
	--fs-14: 14px;
	--base-font: "Aeroport", Arial, sans-serif;
	--letter-spacing: 0.01em;
	--margin: 0 auto;
	--full-width: 100%;
	--border: 9px;
	--input-height: 44px;
}

hr {
	height: 1px;
	background-color: var(--input-color);
	border: none;
	margin: 0;
}

svg {
	fill: none;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	white-space: nowrap;
	border: 0;
	clip: rect(0 0 0 0);
	clip-path: inset(100%);
}

@media (max-width: 1023px) {
	.only-desktop {
		display: none;
	}
}

@media (min-width: 1024px) {
	.only-mobile {
		display: none;
	}
}
